#MoviesItems {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 1.8rem;
  width: 75rem;
  margin: auto;
}
#MoviesItems::-webkit-scrollbar {
  background-color: #312828;
  height: 0.5rem;
  border-radius: 1rem;
  transition: 0.5s;
}
#MoviesItems::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #524242;
  opacity: 0;
  transition: 0.5s;
}
#MoviesItems::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  display: block;
}
h3 {
  font-size: 1.8rem;
  margin-left: 5rem;
  font-family: sans-serif;
}
#movie_image {
  height: 18.7rem;
  object-fit: cover;
  object-position: 50% 20%;
  margin: auto;
}
#movie_image:hover {
  filter: brightness(0.8);
}
h4 {
  border-left: 0.18rem solid var(--purple);
  margin: auto;
  margin-top: 0.8rem;
  font-size: 1rem;
  text-align: center;
}
#movie_rating {
  font-family: math;
  text-align: center;
  float: right;
  font-weight: bold;
  margin-top: 0.7rem;
  font-size: 1rem;
}
#movie_date_rating {
  display: flex;
  gap: 5rem;
  font-family: math;
  display: flex;
  justify-content: center;
  align-items: center;
}
#movie_release_date {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border: 0.12rem solid black;
  width: 2.56rem;
  font-weight: bold;
  color: white;
  background: #142019;
  font-size: 1rem;
  border-radius: 0.3rem;
  border-top-left-radius: 0rem;
  font-family: math;
  margin-top: 0.7rem;
  margin-left: 0.7em;
  align-items: center;
}

.slick-list {
   overflow: visible;
  margin: 0;
  padding: 0;
  width: 13.1rem;
}

.slick-prev {
  left: auto;
  right: 4.8rem;
  z-index: 99;
}
.slick-next {
  left: 70rem;
  z-index: 99;
}
.slick-prev:before {
  content: '←';
  color: #F61211;
  font-size: 2.2rem;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '→';
  content: '→';
  color: #F61211;
  font-size: 2.2rem;
}
.slick-dots{
  display: none!important;
}



/* React Loading Skeleton */

.homecart_img_skeleton{
  width: 14.5rem!important;
  border-radius: 0rem!important;
  height: 18rem!important;
  --base-color: #7e7979;
    --highlight-color: #bfbfbf;

}
.homecart_title_skeleton{
  width: 13rem!important;
  margin-left: 0.7rem;
    margin-top: 0.8rem;
    --base-color: #7e7979;
    --highlight-color: #bfbfbf;

}
.homecart_desc{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 1rem;
  margin-left: 0.6rem;
  margin-top: 1rem;
  --base-color: #7e7979;
    --highlight-color: #bfbfbf;


}