#MoviesItems {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  padding-bottom: 1.8rem;
  margin: auto;
  width: 90%;
}

#MoviesItems::-webkit-scrollbar {
  background-color: #312828;
  height: 0.5rem;
  border-radius: 1rem;
  transition: 0.5s;
}
#MoviesItems::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #524242;
  opacity: 0;
  transition: 0.5s;
}
#MoviesItems::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  display: block;
}
h3 {
  font-size: 1.8rem;
  margin-left: 5rem;
  font-family: sans-serif;
}
#movie_image {
  height: 18.7rem;
  object-fit: cover;
  object-position: 50% 20%;
  margin: auto;
  transition: transform 0.2s ease-in-out;
}
#movie_image:hover {
  /* transform: rotate3d(0, 1, 0, 33deg); */
  transform: skew(0deg, -4deg);
}
h4 {
  border-left: 0.18rem solid var(--purple);
  margin: auto;
  margin-top: 0.8rem;
  font-size: 1rem;
  text-align: center;
}
#movie_rating {
  font-family: math;
  text-align: center;
  float: right;
  font-weight: bold;
  margin-top: 0.7rem;
  font-size: 1rem;
}
#movie_date_rating {
  display: flex;
  gap: 5rem;
  font-family: math;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_releaseDate {
  background: #b3acac36;
  padding: 1px 5px;
  border-radius: 3px;}

.slick-slider {
  width: 100%;
}
.slick-list {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 13.1rem;
}
.slick-prev {
  left: auto;
  left: 4.8rem;
  z-index: 99;
}
.slick-next {
  right: 4.8rem;
  z-index: 99;
}
.slick-prev:before {
  content: "←";
  color: #f61211;
  font-size: 2.2rem;
}
.slick-next:before,
[dir="rtl"] .slick-prev:before {
  content: "→";
  content: "→";
  color: #f61211;
  font-size: 2.2rem;
}
.slick-dots {
  display: none !important;
}

