.image-gallery-slide .image-gallery-image {
  object-fit: cover !important;
  max-height: unset !important;
  height: 44rem !important;
  filter: brightness(.5);
}

.image-gallery-thumbnails-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.image-gallery-thumbnail img {
  min-width: 150px; /* Adjust thumbnail width */
  height: 170px; /* Adjust thumbnail width */
  object-fit: cover; /* Make sure images fit properly */
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid #ff1313 !important;
}
.image-gallery-thumbnail:hover {
  border: 3px solid #ff1919 !important;
}

.slide-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  white-space: normal;
  line-height: normal;
  width: 80%;
  margin: auto;
}
.slide-content a{
  text-decoration: none;
}
.slide-title{
  font-size: 4rem;
  font-family: sans-serif;
}
.slide-desc{
  font-family: sans-serif;
  line-height: 1.5;
}
#btn{
  margin-top: 3rem;
  color: white;
}